/*----------------------------CSSカスタムプロパティ（サイト全体を一括管理する為の設定）----------------------------*/
:root {
    --primary-color: #000;
    /*テンプレートのメインまたはアクセントカラー*/
    --primary-inverse-color: #827C75;
    /*上のprimary-colorの対となる色*/

    --space-large: 8vw;
    /*主に余白の一括管理用。画面幅100%＝100vwです。*/
    --space-small: 2vw;
    /*主に余白の一括管理用。画面幅100%＝100vwです。*/
}

/*----------------------------全体の設定----------------------------*/
body {
    box-sizing: border-box;
}

html,
body {
    font-size: 13px;
    /* 基準フォントサイズ */
    height: 100%;
}

@media screen and (min-width: 1200px) {

    html,
    body {
        font-size: 14px;
    }
}

@media screen and (min-width: 1600px) {

    html,
    body {
        font-size: 1vw;
    }
}


body {
    margin: 0;
    padding: 0;
    font-family: "Noto Serif JP", "Hiragino Mincho Pro", "ヒラギノ明朝 Pro W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
    /*フォント種類*/
    -webkit-text-size-adjust: none;
    background: #f9f9f9;
    /*背景色*/
    color: var(--primary-color);
    /*文字色。冒頭で指定しているprimary-colorを読み込みます。*/
    line-height: 2;
    /*行間*/
}

/*----------------------------リセット他----------------------------*/
figure,
dd,
nav ul,
ul,
ol {
    margin: 0;
    padding: 0;
}

nav ul {
    list-style: none;
}

section li {
    margin-left: 1rem;
}

/*table全般の設定*/
table {
    border-collapse: collapse;
}

img {
    border: none;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

video {
    max-width: 100%;
}

iframe {
    width: 100%;
}

input {
    font-size: 1rem;
}

section {
    overflow-x: hidden;
    padding: var(--space-large);
}

/*----------------------------container（サイト全体を囲むボックス）----------------------------*/
#container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*----------------------------header（ロゴが入った最上段のブロック）----------------------------*/
/*ヘッダーブロック*/
header {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

body:not(.home) header {
    margin-bottom: var(--space-large);
}

#logo img {
    display: block;
}

#logo {
    margin: 0;
    padding: 0;
    width: 10vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width:500px) {

    #logo {
        top: 0;
        /*上からの配置場所*/
        width: 60px;
        /*ロゴの幅*/
    }

}



/*ヘッダー内メニュー
---------------------------------------------------------------------------*/
/*900px未満では非表示*/
header nav ul {
    display: none;
}

/*画面幅900px以上の追加指定*/
@media screen and (min-width:900px) {

    /*メニューブロック全体の設定*/
    header>nav>ul {
        margin-right: 10vw;
        /*ハンバーガーアイコンに重ならないように余白*/
        display: flex;
        /*横並びにする*/
    }

    /*メニュー１個あたりの設定*/
    header nav li a {
        display: block;
        text-decoration: none;
        font-size: 0.9rem;
        /*文字サイズ90%*/
        padding: 0.5rem 1rem;
        /*メニュー内の余白。上下、左右へ。*/
    }

    /*ドロップダウンメニュー冒頭の矢印アイコン*/
    header nav i {
        padding-right: 0.5rem;
        /*右に空ける余白*/
    }

}

/*追加設定ここまで*/


/*----------------------------画面右側端のお問い合わせボタン----------------------------*/
#btn-top {
    display: flex;
    position: fixed;
    right: 0px;  /* 右からの配置場所 */
    top: 20vw;   /* 上からの配置場所 */
    writing-mode: vertical-rl;
    text-orientation: upright;
    
    /* 背景を無しにする */
    background: none;  
    color: #f6ebd2;  /* 文字色 */
    padding: 2rem 1rem;  /* 上下、左右へのボタン内の余白 */
    border-radius: 3px 0px 0px 3px;  /* 角を丸くする指示 */
    letter-spacing: 0.1em;  /* 文字間隔を少しだけ広く */
}

/* アイコンと文章を縦に並べるためのフレックスボックス設定 */
#btn-top a {
    display: flex; /* フレックスボックスに変更して縦並びにする */
    flex-direction: column; /* アイコンと文章を縦方向に並べる */
    align-items: center; /* アイコンと文章を中央揃えにする */
    justify-content: center;
    margin-bottom: 1rem; /* 各リンク間のスペース */
    text-decoration: none; /* アンダーラインを削除 */
    color: inherit; /* 親要素の文字色を継承 */
}

/* 画像アイコンの共通スタイル */
#btn-top img.icon {
    display: block; /* ブロック表示にしてアイコンを縦に並べる */
    width: 2rem; /* アイコンのサイズを調整 */
    height: auto; /* 高さは自動で調整 */
}

/* 文章（お問い合わせ）のスタイル */
#btn-top a:last-child {
    color: #000;  /* 文字色 */
    font-size: 1rem;  /* フォントサイズ調整 */
    text-decoration: none;  /* 下線を削除 */
}

/* ホバー時の色変更 */
#btn-top a:hover {
    color: #ec9347; /* ホバー時の文字色を変更 */
}

/*----------------------------ヘッダー内メニュー、開閉メニュー、共通のドロップダウン設定----------------------------*/
header nav ul ul,
.small-screen #menubar ul ul {
	animation: opa1 0.5s 0.1s both;	/*0.1秒待機後、0.5秒かけてフェードイン表示*/
}

/*----------------------------メニューブロック初期設定----------------------------*/
/*メニューをデフォルトで非表示*/
#menubar {display: none;}
#menubar ul {list-style: none;margin: 0;padding: 0;}
#menubar a {display: block;text-decoration: none;}

/*上で非表示にしたメニューを表示させる為の設定*/
.large-screen #menubar {display: block;}
.small-screen #menubar.display-block {display: block;}

/*ドロップダウンをデフォルトで非表示*/
.ddmenu_parent ul {display: none;}

/*ddmenuを指定しているメニューに矢印アイコンをつける設定*/
a.ddmenu::before {
	font-family: "Font Awesome 6 Free";	/*Font Awesomeを使う指示*/
	content: "\f078";		/*使いたいアイコン名（Font Awesome）をここで指定*/
	font-weight: bold;		/*この手の設定がないとアイコンが出ない場合があります*/
	margin-right: 0.5em;	/*アイコンとテキストとの間に空けるスペース*/
}

/* ハンバーガーメニューの全体設定 */
#menubar_hdr {
	position: fixed;
	top: 0;
	right: calc(var(--space-small) + 5px);
	width: 60px;
	height: 60px;
	padding: 20px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	z-index: 101;
	animation: opa1 0.3s 0.5s both;
	transition: transform 0.5s;
	mix-blend-mode: exclusion;
}

/* ホバー時 */
#menubar_hdr.ham {
	mix-blend-mode: normal;
}

/* バーの設定 */
#menubar_hdr div span {
	display: block;
	width: 100%;
	height: 1.5px;
	background-color: #fff;
	position: absolute;
    transition: all 0.5s ease-in-out;
	position: absolute;
}

#menubar_hdr div {
	position: relative;width: 100%;height: 100%;
	display: flex;flex-direction: column;justify-content: space-between;
}
#menubar_hdr span:nth-child(1) { top: 0; }          /* 上の線 */
#menubar_hdr span:nth-child(2) { top: 50%;         /* 中央の線 */
    transform: translateY(-50%); /* 真ん中に揃える */
}
#menubar_hdr span:nth-child(3) { bottom: 0; }      /* 下の線 */
#menubar_hdr.ham div span:nth-child(1) {top: 50%;transform: translateY(-50%) rotate(45deg);}
#menubar_hdr.ham div span:nth-child(2) {top: 50%;transform: translateY(-50%) rotate(-45deg);}


/* メニュー展開時 */
#menubar_hdr.ham div span:nth-child(1) {
	top: 50%;
	transform: translateY(-50%) rotate(45deg);
}
#menubar_hdr.ham div span:nth-child(2) {
	top: 50%;
	transform: translateY(-50%) rotate(-45deg);
}


/*----------------------------開閉メニュー----------------------------*/
/*animation1のキーフレーム設定*/
@keyframes animation1 {
	0% {right: -100vw;}
	100% {right: 0px;}
}

/*メニューブロック設定*/
.small-screen #menubar.display-block {
	position: fixed;overflow: auto;z-index: 100;
	right: 0px;top: 0px;
	max-width: 800px;
	height: 100%;
	padding: 90px 10vw 50px;		/*ブロック内の余白。上、左右、下への順番。*/
	background: var(--primary-color);	/*背景色*/
	color: var(--primary-inverse-color);					/*文字色*/
	animation: animation1 0.2s both;		/*animation1を実行する。0.2sは0.2秒の事。*/
}

/*子メニューの設定*/
.small-screen #menubar ul ul {
	margin: 2rem;	/*外側に空けるスペース。２文字分。*/
}

/*メニュー１個あたりの設定*/
.small-screen #menubar nav ul li {
	border: 1px solid #fff;	/*枠線の幅、線種、色。*/
	margin: 1rem 0;			/*メニューの外側に空けるスペース。上下、左右への順番。*/
	border-radius: 5px;		/*角を丸くする指定*/
}
.small-screen #menubar a {
	color: inherit;
	padding: 1rem 2rem;	/*メニュー内の余白。上下、左右へ。*/
}

